.main {
    padding-left: 5vw;
    display: flex;
    height: 15vh;
    width: 100%;
    padding-right:10vw;;
    align-items:center;
    flex-direction:row;
}
.search {
    width: 30%;
}
.searchdiv{
display:flex;
flex-direction: column;
padding-left: 30px;
margin-top: 5%;

}

.SearchB{
   background-color:skyblue;
   margin-top: 5%;
   margin-left: 40%;

   
   }
   



.searchTop{
display: flex;
flex-direction: row;


}
.SButton{
    background-color:burlywood;
    width:10vw;
    height:5vh;
    border-radius: 10px;

}
.AllCourses-FilterBarButton{
    position: absolute;
   color :skyblue;
   width: 22%;
   height:5%;
   top : 27%;
   left: 72%;
   font-weight:400;
   font-size: 20px;
   padding: 0rem 0rem;
   z-index:1;

}
.filterText{
   color:black;
   height: 5vh;


}
.AllCourses-FilterDiv{
    background-color :rgba(0, 53, 72, 0.921);
    position: absolute;
    border-radius : 20px ;
    width: 25.5%;
    height: 65vh;
    color :#f0f3f5;
    top : 33%;
    left: 72%;
    padding: 0rem 1rem;
    transition: 0.5s;
 }

 .AllCourses-Slider{
    color:#fff;
    position: absolute;
    top : 80%;
    left: 6%;

 }
 .AllCourses-Slider_Checkbox{
   color:#fff;
   background-color: #fff;
   position: absolute;
   left:65%;
 }
 .AllCourses-Slider h3{
   position: absolute;
   left: 100%;
   top:0%
 }
.AllCourses-Slider_div_check
{
   position: absolute;
   top:40%;
   left:70%
}
 .AllCourses-Subject{
    font-weight:600;
    font-size: 30px;
    position: absolute;
    top : 2%;
    left: 6%;
 

 }
 .AllCourses-rating{
   font-weight:600;
   font-size: 30px;
   position: absolute;
   top : 30%;
   left: 6%;


}

 .AllCourses-TextField{
    position: relative;
    top : 3%;
    left: 2%;
    background-color: #f0f3f5;
    border-radius : 7px ;
    height: 8%;
    width :70%;
    
    background-color: #fff;
    border:transparent;
    border:none ;

    font-size:1rem ;
    font-family: 'Poppins' sans-serif;
   outline:none;
   

 }

 .AllCourses-TextField2{
   position: relative;
   top : 20%;
   left: 2%;
   background-color: #f0f3f5;
   border-radius : 7px ;
   height: 8%;
   width :70%;
   
   background-color: #fff;
   border:transparent;
   border:none ;

   font-size:1rem ;
   font-family: 'Poppins' sans-serif;
  outline:none;
  

}
 .AllCourses-Price{
    position: relative;
    top : 65%;
    left: 2%;
    font-weight:600;
    font-size: 30px;
 
 }

 .AllCourses-Apply{
    position: relative;
    top : 55%;
    left: 73%;


 }
 .AllCourses-Apply2{
   position: relative;
   top : 35%;
   left: 0%;

}
 .AllCourses-Rate{

    position: relative;
    top : 33%;
    left: 2%;
    font-weight:600;
    font-size: 30px;
 }

 .AllCourses-Rating{
    position: relative;
    top : 35%;
    left: 2%;

 }
 .AllCourses-Rating button{

   margin: 0rem 0.1rem;
}

 .AllCourses-nonFilterDiv{
   position: absolute;
   transform: scale(0);
    transition: 0.7s;
    top : 22%;
    left: 72%;
 }
.AllCourses_ReatFilterButton{
   background-color: grey;
   transform:translate(0,31vh)
 }
 .AllCourses_ReatFilterButton:hover{
   background-color: rgb(169, 169, 169);
   transition: 1s;
 }