.Trainee-buttonCourse Button{
    font-size:20px;
    background-color:rgb(10,138,218);
    width:32%;
    height:50px;
    position: absolute;
   left:0%;
   top:70%;
}
.Trainee-heading{
    position: absolute;
    color:rgb(10,138,218);
 left:1%;
 top:10%;

}

.traineeDitails{
    position: absolute;
    width: 360px;
    height: 400px;
    border: transparent;
    background-color: aliceblue;
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    top: 15%;
    left: 70%;
   flex-direction: column;
   display: flex;
   align-items: center;
   flex-grow: 1 1 0;
   row-gap: 5%;
}
.TraineeAvatar{
    margin-top: 5%;
    /* margin: auto;
    width: 50%;
    top: 5%; */
    
}

.traineeName{
    position: relative;
    /* top: 10%; */
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    color: #0277bd;
}
.traineeEmail{
    position: relative;
    /* top: 10%; */
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    color: #0277bd;
}

.T-editIconClick{
    position: relative;
    cursor: pointer;
    top:-55% ;
    left: 40%;
    
}

.TraineeHomeMain{
    background-color: aqua; 
    background-size:cover;
    display: flex;
    flex-direction: column;
    flex-grow: 1 1 0;
    row-gap:2vw ;
    width: 100%;
    height:100%;

}
.homeCoursesTrainee{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1 1 0;
}
.mainDetailsTrainee{
    display: flex;
    flex-direction: row;
    column-gap: 6vw;
    flex-grow: 1 1 0;
    height: 100%;
    background-color: aqua;
    
}