.heading{
    color :rgb(10, 138, 218);
    margin: 2rem 2rem ;
 }
 
 .Courses{
     width: 100%;
     display: flex; 
     flex-direction: column;
     justify-content: space-between;
     padding : 0 1rem;
     z-index: 2;
     /* background:radial-gradient(ellipse at 50% 50%, rgba(255, 255, 255, 1) 0%, rgba(218, 218, 218, 1) 100%); */
     background-color:aliceblue; 
     
 }
 .openCourseButton{
background-color: black;
width:10px;
height:20vh



 }
 
 .buttonCourse Button{
     font-size:20px;
     background-color:rgb(10,138,218);
     color: aliceblue;
     width:30%;
     height:50px;
     position: absolute;
    left:66%;
    top:195%;
 }
 .buttonCourse Button:hover{
     background-color:rgb(48, 160, 229);
     transition:0.3s;
 
 }
 .CourseVid{
     width:30%;
     height:50%;
     top:121.7%;
     left:66%;
     border-radius:20px;
     position: absolute;
     box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
 }
 
 .CourseVid video{
     border-radius: 20px;
 }
 .develop{
 position:absolute;
 left:67%;
 top:180%;
 color: rgb(77, 83, 86);
 text-align: center;
 }
 
 
 
 
 .newCourse{
     margin:2rem 2rem;
     padding:1rem 2rem;
     width : 58.59375vw ;
     height: 150px ;
     color:aliceblue;
     /* background-color:linear-gradient(90deg, rgba(10, 138, 222, 1) 0%, rgba(216, 149, 255, 1) 100%); */
     /* background-color:rgb(10, 138, 218); */
     /* background: linear-gradient(-90deg, rgba(10,138,218,1) 0%, rgb(6, 60, 78) 100%); */
     background-image: linear-gradient(-90deg,rgba(9, 117, 185, 0.9),rgba(3, 35, 46, 0.9)),url('../../images/BackCourse.jpg');
     display: flex; 
     justify-content: space-between;
     border-radius : 20px ;
 
 }
 .newCourse-content{
     width :900px ;
     height: 150px ;
     color:aliceblue;
     position:relative;
 
     display: flex; 
     flex-direction: column;
     justify-content: space-between;
 
 }
 .newCourse_title{
     display: flex;
     width:80vh;
     height:0vh
     
 }
 .newCourse_title h3{
     font-weight: 600;
 
     
 }
 .newCourse-After{
    
     margin:2rem 2rem;
     padding:1rem 2rem;
     width :900px ;
     height: 500px ;
     color:aliceblue;
     /* background-color:linear-gradient(90deg, rgba(10, 138, 222, 1) 0%, rgba(216, 149, 255, 1) 100%); */
     /* background-color:rgb(10, 138, 218); */
     /* background: linear-gradient(-90deg, rgba(10,138,218,1) 0%, rgb(6, 60, 78) 100%); */
     background-image: linear-gradient(-90deg,rgba(9, 117, 185, 0.9),rgba(3, 35, 46, 0.9)),url('../../images/BackCourse.jpg');
     display: flex; 
     justify-content: space-between;
     border-radius : 20px ;    
 }
 .ViewMoreH55{
     width: 130px;
     transform:translate(0,0.6rem);
      
 }
 .newCourse h5{
     font-weight: 300;
     cursor: pointer;
 }
 .newCourse-After h5{
     font-weight: 300;
     cursor: pointer;
 }
 
 .newCourse-After-Content{
     position:relative;
     width: 900px;
     height:480px;
 }
 
 .Course-subTitles{
     width: 30%;
     display: flex;
     flex-direction :column;
     position:relative;
     left: 0%;
     top:0%;
 }
 .Course-subTitles h4{
     font-family: sans-serif;
     font-weight: 600;
     margin: 1rem 2rem;
 }
 
 .NewData-NewCourse{
     display: flex;
     flex-direction: row;
     position: relative;
     top:0%;
     left:0%;
     padding:0rem 0rem; 
     margin: 0rem 0rem;
 }
 .Large-NewData-NewCourse{
     display: flex;
     flex-direction: column;
     position: relative;
     top:20vh;
     left:0%;
     padding:0rem 0rem; 
     margin: 0rem 0rem;
 }
 .nonNewData-NewCourse{
     display: none;
     position: absolute;
     top:-100vh;
 }
 
 .vl {
     border-left: 2px solid rgb(255, 255, 255);
     height: 250px;
     position: absolute;
     left: 55%;
     margin-left: -3px;
     top: 0;
   }
   .vl2 {
     border-bottom: 2px solid rgb(255, 255, 255);
     width: 118vh;
     position: absolute;
     left: 0%;
     margin-left: -3px;
     margin-right: 3px;
     top: -1vh;
   }
 
 .starImg{
 /* transform: translate(0px,90px); */
 width: 40px;
 height:30px;
 
 }
 .starImgDiv {
     position:absolute;
     left:1.4vw;
     top:90px;
 }
 
 
 .NewCourse_StarsHoursPrice{
     display: flex;
     flex-direction: row;
     
 }
 .NewCourse_Data_Price_Hours{
     position:absolute;
     left:30vw;
     top:90px;
     width: 60vh;
     display:flex;
     flex-direction: row;
     justify-content: space-between;
        
 }
 .NewCourse_Data_Price_Hours h2{
     padding:0rem 2rem;
 }
 .totalhours{
     font-weight:250;
     font-size: 25px;
     transform: translate(-20px,0px);
 }
 
 .NewCourse_Prices{
     position: absolute;
     display: flex;
     flex-direction: row;
     top:6.1vh;
     left:4vh;    
 }
     .NewCourse_price{
         font-weight:250;
         font-size: 22px;
     }
     .NewCourse_price2{
         font-weight:300;
         font-size: 20px;
         color:rgb(255, 0, 0);
         transform:translate(1rem , 0.15rem)
     }